<mz-navbar>

  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="/home">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/names">Nombres</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
