<div class="row">
  <div class="col s12">
    <h1>Name</h1>
    <div class="row">
      <mz-input-container>
        <i mz-icon-mdi mz-input-prefix
           [icon]="'settings'">
        </i>
        <input mz-input
               [label]="'Search'"
               id="search-input"
               [name]="'search'"
               (keyup)="keyfilter($event)"
               placeholder="Search names"
               type="text">
      </mz-input-container>
      <div class="col s12">
        <table>
          <thead *ngIf="!loadingTask">
          <tr>
            <th>ID</th>
            <th>Departamento</th>
            <th>Localidad</th>
            <th>Municipio</th>
            <th>Nombre</th>
            <th>Años activos</th>
            <th>Tipo de cargo</th>
            <th>Tipo de persona</th>
            <th>Porcentaje de coincidencia</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let names of listNames">
            <td>{{names.Id}}</td>
            <td>{{names.Departamento}}</td>
            <td>{{names.Localidad}}</td>
            <td>{{names.Municipio}}</td>
            <td>{{names.Nombre}}</td>
            <td>{{names.Years_activo}}</td>
            <td>{{names.Tipo_cargo}}</td>
            <td>{{names.Tipo_persona}}</td>
            <td>{{names.Porcentaje}}</td>
          </tr>
          <tr *ngIf="loadingTask">
            <td colspan="6" class="center-align">
              <mz-spinner
                [color]="'blue'"
                [size]="'big'">
              </mz-spinner>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="listNames.length==0">
          <td *ngIf="!loadingTask" colspan="8">you don't have tasks</td>
          </tbody>
        </table>
        <mz-pagination *ngIf="listNames.length>0" class="right"
                       [currentPage]="currentPage"
                       (click)="changePage($event)"
                       [enableFirstAndLastPageButtons]="true"
                       [itemsPerPage]="itemsPerPage"
                       [totalItems]="totalItems"
        >
        </mz-pagination>
      </div>
    </div>
  </div>
</div>

